{% extends "base.html" %}
{% block title %}Student Dashboard{% endblock %}
{% block content %}
    <div class="p-6 rounded-lg ">
        <h1 class="font-bold text-center mb-5  text-[45px]">Student Dashboard</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-9">
            <a href="{% url 'students:food_menu_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Food Menu</a>
            <a href="{% url 'students:food_preference_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Food Preferences</a>
            <a href="{% url 'students:mess_cut_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Mess Cut</a>
            <a href="{% url 'students:wash_slot_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Wash Slots</a>
            <a href="{% url 'students:fee_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">View Fees</a>
            <a href="{% url 'students:complaint_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Complaints</a>
            <a href="{% url 'students:attendance_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">View Attendance</a>
            <a href="{% url 'students:check_in_out_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Check In/Out</a>
            <a href="{% url 'students:notification_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Alert Messages</a>
            <a href="{% url 'manager:change_password' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Change Password</a>
        </div>
    </div>
{% endblock %}