<!-- manager/templates/manager/dashboard.html -->
{% extends "base.html" %}
{% block title %}Manager Dashboard{% endblock %}
{% block content %}
    <div class="w-full min-h-screen h-auto pb-10 bg-gradient-to-t  from-[rgb(198,225,248)] to-[#79e5fb]">
        <h1 class=" font-bold text-center text-[20px] sm:text-[30px]  md:text-[45px] mb-5">Manager Dashboard</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-9">
            <a href="{% url 'manager:food_menu_list' %}" class=" h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px] ">Manage Food Menu</a>
            <a href="{% url 'manager:food_count_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Food Count</a>
            <a href="{% url 'manager:wash_slot_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Wash Slots</a>
           <a href="{% url 'manager:mess_cut_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Mess Cut</a>
           
            <a href="{% url 'manager:fee_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Track Fee Status</a>
            <a href="{% url 'manager:complaint_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Handle Complaints</a>
            <a href="{% url 'manager:attendance_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Mark Attendance</a>
            <a href="{% url 'manager:check_in_out_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Check In/Out</a>
            <a href="{% url 'manager:notification_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Send Alert</a>
            <a href="{% url 'manager:parent_student_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Parent-Student</a>
            <a href="{% url 'manager:student_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Students</a>
            <a href="{% url 'manager:parent_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Parents</a>
            <a href="{% url 'manager:faculty_list' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Manage Faculty</a>
            <a href="{% url 'manager:change_password' %}" class="h-[2cm]  block bg-orange-50 text-center pt-6 rounded-xl  hover:border-2 hover:border-blue-300 hover:shadow-lg  font-semibold text-[18px]">Change Password</a>
        </div>
    </div>
{% endblock %}